POST http://localhost:8080/init HTTP/1.1
content-type: application/json

{
  "value": {
    "name" : "java-helloworld-with-params-from-env",
    "main" : "Hello",
    "binary": true,
    "code" : "BASE64_ENCODED_JAR"
  }
}

###
