apiVersion: build.knative.dev/v1alpha1
kind: Build
metadata:
  name: nodejs-10-web-action-raw
spec:
  serviceAccountName: openwhisk-runtime-builder
  source:
    git:
      url: "https://github.com/apache/incubator-openwhisk-devtools.git"
  revision: "master"
  template:
    name: openwhisk-nodejs-runtime
    arguments:
      - name: TARGET_IMAGE_NAME
        value: "docker.io/${DOCKER_USERNAME}/nodejs-10-web-action-raw"
      - name: DOCKERFILE
        value: "./knative-build/runtimes/javascript/Dockerfile"
      - name: OW_RUNTIME_DEBUG
        value: "true"
      - name: OW_ACTION_NAME
        value: "nodejs-web-action-raw"
      - name: OW_ACTION_CODE
        value : "function main(params) { return { response: params }; }"
      - name: OW_ACTION_RAW
        value: "true"

